
<button id='add_button'>Add </button>
<button id='show_translate_button'>Show / Hide Translate button </button>
<%= form_tag('/create') do %>

<div id="all_cards">
  <%= text_field("deck", "name", :placeholder => 'Deck Name') %>
  <div id="one_card" class='card'>
    <%= text_field("card_1", :a, :placeholder => 'Side A') %><%= text_field("card_1", :b, :placeholder => 'Side B') %><button type="button" class="translate">Translate</button><button type="button" class="listen">Listen</button>
  </div>  
</div>
  <%= submit_tag "Submit", :id=> 'submit_button' %>
<% end %>


<script type="text/javascript">
// later it should look at the far left field, hit
// the google translate api, and populate the closest field with the result

$('#show_translate_button').on('click', function(event){
  console.log('clicked')
  if($('.translate').css('display')=='none'){
    $('.translate').show();
    $('.listen').show();
    console.log('now visible')
  }else{
    $('.translate').hide();
    $('.listen').hide();
    console.log('now hidden')
  }
  
})
$(".translate").on('click', function(event){
  console.log('auto translate');
  alert('yo')
  event.preventDefault();
})

// later it should grab the second
// field and call the google text to speech api and play the sound (based off language)
$(".listen").on('click', function(event){
  console.log('play sound');
  event.preventDefault();
})
  // Initialize counter at 2 since the first card above starts at 1
  var counter = 2

  // Copy the card prototype above and increment the card name
	$('#add_button').click(function(){
    card = $('#one_card').clone()
    card.children().eq(0).attr('name', "card_"+counter+"[a]")
    card.children().eq(1).attr('name', "card_"+counter+"[b]")
    card.appendTo('#all_cards');


    counter++
	})

  // Make a key event for tab button?

  // type out the one side for all and then go back through and add those 


  $("#submit_button").on('click', function(event){
    var deckname = $('#deck_name').val()
    var deck = { deck_name: deckname,  cards: {} }
    var count = 0;
    $('.card').each(function(i, value){
      var card_a_id = $(value).children().eq(0).attr('id');
      var card_a_val = $(value).children().eq(0).val();
      var card_b_id = $(value).children().eq(1).attr('id');
      var card_b_val = $(value).children().eq(1).val();
      // Set the values of the js object to the card
      var card_set = { side_a: card_a_val, side_b: card_b_val }
      // Store the js object for card into the deck["cards"] array with the counter
      deck["cards"][count] = card_set
      // increase the counter
      count++
      // create an empty object and assign it a name - var card_obj = {}
      // push the stuff into the object and add it to the other thing i'm tired
    })
    localStorage.setItem('main_deck', JSON.stringify(deck));
    // TODO iterate over the cards array
    // Grab both sides and save them into variables
    // save that into local storage inside the deck variable under card_1: {side_a: 'fart', side_b: 'pedo'}
    // grab the next card and do the same thing
  })


</script>