<button id='add_button'>Add </button>
<%= form_tag('/create') do %>

<div id="all_cards">
  <%= text_field("deck", "name", :placeholder => 'Deck Name') %>
  <div id="one_card">
    <%= text_field("card", :a, :placeholder => 'Side A') %><%= text_field("card_1", :b, :placeholder => 'Side B') %><button class="translate">Translate</button><button class="listen">Listen</button>
  </div>  
</div>
  <%= submit_tag "Submit" %>
<% end %>


<script type="text/javascript">

$(".translate").on('click', function(event){
  console.log('auto translate');
  alert('yo')
  event.preventDefault();
})

$(".listen").on('click', function(event){
  console.log('play sound');
  event.preventDefault();
})
  // Initialize counter at 2 since the first card above starts at 1
  var counter = 2

  // Copy the card prototype above and increment the card name
	$('#add_button').click(function(){
    card = $('#one_card').clone()
    card.children().eq(0).attr('name', "card_"+counter+"[a]")
    card.children().eq(1).attr('name', "card_"+counter+"[b]")
    card.appendTo('#all_cards');
    counter++
	})


</script>