<button id='add_button'>Add </button>
<%= form_tag('/create') do %>

<div id="all_cards">
  <%= text_field("deck", "name", :placeholder => 'Deck Name') %>
  <div id="one_card" class='card'>
    <%= text_field("card_1", :a, :placeholder => 'Side A') %><%= text_field("card_1", :b, :placeholder => 'Side B') %><button class="translate">Translate</button><button class="listen">Listen</button>
  </div>  
</div>
  <%= submit_tag "Submit", :id=> 'submit_button' %>
<% end %>


<script type="text/javascript">

$(".translate").on('click', function(event){
  console.log('auto translate');
  alert('yo')
  event.preventDefault();
})

$(".listen").on('click', function(event){
  console.log('play sound');
  event.preventDefault();
})
  // Initialize counter at 2 since the first card above starts at 1
  var counter = 2

  // Copy the card prototype above and increment the card name
	$('#add_button').click(function(){
    card = $('#one_card').clone()
    card.children().eq(0).attr('name', "card_"+counter+"[a]")
    card.children().eq(1).attr('name', "card_"+counter+"[b]")
    card.appendTo('#all_cards');

    counter++
	})

  // Make a key event for tab button?

  // Maybe make button to show/hide translation and sound buttons so you can 
  // type out the one side for all and then go back through and add those
  

  $("#submit_button").on('click', function(event){
    $('.card').each(function(i, value){
      var card_a_id = $(value).children().eq(0).attr('id')
      var card_a_val = $(value).children().eq(0).val()
      var card_b_id = $(value).children().eq(1).attr('id')
      var card_b_val = $(value).children().eq(1).val()
      
    })
    // TODO iterate over the cards array
    // Grab both sides and save them into variables
    // save that into local storage inside the deck variable under card_1: {side_a: 'fart', side_b: 'pedo'}
    // grab the next card and do the same thing
  })


</script>