
<div>
  <b>Upload a CSV file</b>
  <%= form_tag({action: :process_csv}, multipart: true) do %>
  <%= file_field_tag 'CSV File' %>
    <%= submit_tag "Submit", :id=> 'submit_csv' %>
<% end %>
</div>
<br>
<%= hidden_field_tag 'csv_cards', @cards %>
<!-- <div id="csv_cards" data-butt="<%= @cards %>"></div>
 -->
<div id="all_cards">
  <b>Create a flashcard deck</b><br>
  <button id='add_button'>Add </button>
  <button id='show_translate_button'>Show / Hide Translate button </button>
  <%= form_tag('/create') do %>
  <%= text_field("deck", "name", :placeholder => 'Deck Name') %>
  <div id="card_1" class='card'>
    <%= text_field("card_1", :a, :placeholder => 'Side A') %><%= text_field("card_1", :b, :placeholder => 'Side B') %><button type="button" class="translate">Translate</button><button type="button" class="listen">Listen</button>
  </div>  
</div>
  <%= submit_tag "Submit", :id=> 'submit_button' %>
<% end %>

<script type="text/javascript">

// Toggles the translate / listen buttons hidden visibile
// Should be some toggle code that makes this cleaner
$('#show_translate_button').on('click', function(event){
  console.log('clicked')
  if($('.translate').css('display')=='none'){
    $('.translate').show();
    $('.listen').show();
    console.log('now visible')
  }else{
    $('.translate').hide();
    $('.listen').hide();
    console.log('now hidden')
  }
  
})
// TODO Translates the left column and puts it into the right // column
$(".translate").on('click', function(event){
  console.log('auto translate');
  alert('yo')
  event.preventDefault();
})

// TODO Does text to speech on the right column
$(".listen").on('click', function(event){
  console.log('play sound');
  event.preventDefault();
})

  // Initialize counter at 2 since the first card above starts at 1
  var counter = 2
  var add_card = function(){
    card = $('#card_1').clone()
    card.attr('id', "card_"+counter)
    card.children().eq(0).val("")
    card.children().eq(1).val("")
    card.children().eq(0).attr('name', "card_"+counter+"a")
    card.children().eq(1).attr('name', "card_"+counter+"b")
    card.children().eq(0).attr('id', "card_"+counter+"a")
    card.children().eq(1).attr('id', "card_"+counter+"b")
    card.appendTo('#all_cards');
    counter++
  }

  // Adds a new row when tab is pressed in the last textfield
  $('body').on('keydown', 'input[type="text"]:last', function(e){
  var keyCode = e.keyCode || e.which; //how does this work
  if(keyCode == 9){
    add_card();
  }
})

  // Copy the card prototype above and increment the card name
	$('#add_button').click(function(){
    add_card();
	})

  $("#submit_csv").on('click', function(event){
    convert_csv();
  })

  // Converts CSV file to localstorage
  var convert_csv = function(){
    // var deck_name = @deck_name
    var csv_cards = $('#csv_cards').data

    var deck = { deck_name: deckname, cards: [] }

    // for (var i = @cards.length - 1; i >= 0; i--) {
    //   @cards[i]
    // };
  }

  // Takes all cards and stores them into localstorage in a json string
  $("#submit_button").on('click', function(event){
    var deckname = $('#deck_name').val()
    var deck = { deck_name: deckname,  cards: [] }
    var count = 0;
    $('.card').each(function(i, value){
      // do the IDs matter? I'm 99% sure they do not because they are not in the localstorage
      var card_a_id = $(value).children().eq(0).attr('id');
      var card_a_val = $(value).children().eq(0).val();
      var card_b_id = $(value).children().eq(1).attr('id');
      var card_b_val = $(value).children().eq(1).val();
      // Set the values of the js object to the card
      var card_set = { side_a: card_a_val, side_b: card_b_val }
      // Store the js object for card into the deck["cards"] array with the counter
      deck["cards"][count] = card_set
      // increase the counter
      count++
      // create an empty object and assign it a name - var card_obj = {}
      // push the stuff into the object and add it to the other thing i'm tired
    })
    // This should be called separately by both this function and the one for CSV file processing
    if(localStorage["all_decks"] == undefined){
      card_array = []
    }else{
      card_array = JSON.parse(localStorage['all_decks'])
    }
    card_array.push(deck)
    localStorage.setItem('all_decks', JSON.stringify(card_array));
  })


</script>